header {
  display: flex;
  justify-content: center;
  padding: 10px;
  background: #1125a4;
  background: -moz-linear-gradient(left, #1125a4 0%, #157fce 100%);
  background: -webkit-linear-gradient(left, #1125a4 0%, #157fce 100%);
  background: linear-gradient(to right, #1125a4 0%, #157fce 100%);
}
h1 {
  color: aliceblue;
  text-shadow: 2px 2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000,
    -2px -2px 0 #000000, 2px 0px 0 #000000, 0px 2px 0 #000000,
    -2px 0px 0 #000000, 0px -2px 0 #000000, 2px 2px 2px rgba(206, 89, 55, 0);
}

h2 {
  font-size: 200%;
  font-weight: bold;
}

.main-cont {
  width: 95%;
  margin: auto;
}

.cities {
  list-style: none;
  padding: 0px;
}

li {
  border: #000000 solid;
}

p {
  font-size: 125%;
  color: aliceblue;
  font-weight: bold;
}

.dayforecast {
  background-color: lightslategray;
  margin: 10px;
  padding: 5px;
  border: #000000 solid 2px;
}
