header {
  display: flex;
  justify-content: center;
  padding: 10px;
  background: #1125a4;
  background: -moz-linear-gradient(left, #1125a4 0%, #157fce 100%);
  background: -webkit-linear-gradient(left, #1125a4 0%, #157fce 100%);
  background: linear-gradient(to right, #1125a4 0%, #157fce 100%);
}
h1 {
  color: aliceblue;
  text-shadow: 2px 2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000,
    -2px -2px 0 #000000, 2px 0px 0 #000000, 0px 2px 0 #000000,
    -2px 0px 0 #000000, 0px -2px 0 #000000, 2px 2px 2px rgba(206, 89, 55, 0);
}

h2 {
  font-size: 200%;
  font-weight: bold;
}

.main-cont {
  width: 95%;
  margin: auto;
}

.cities {
  list-style: none;
  padding: 0px;
}

li {
  border: #000000 solid;
}
li:hover {
  background-color: #0c4e81;
  color: aliceblue;
  cursor: pointer;
}

p {
  font-size: 125%;
  color: aliceblue;
  font-weight: bold;
}

.dayforecast {
  background-color: lightslategray;
  margin: 10px;
  padding: 5px;
  border: #000000 solid 2px;
}

.uvcolor {
  padding: 0px 5px;
  border: #000000 solid 2px;
  border-radius: 5px;
}

.fivetitle {
  margin: 0px 10px;
}

.fiveday {
  background-color: lightslategray;
  flex-wrap: wrap;
  margin: 10px;
  margin-top: 5px;
  padding: 5px;
  border: #000000 solid 2px;
  color: aliceblue;
  justify-content: space-around;
}

.dailycard {
  border: #000000 solid 2px;
  background-color: #0c4e81;
  padding: 3px;
  min-width: fit-content;
  margin-top: 3px;
}

@media (max-width: 800px) {
  .fiveday {
    justify-content: flex-start;
  }
  .dailycard {
    min-width: fit-content;
  }
  .box {
    flex-direction: column;
  }
  .searchCol {
    width: 85%;
    margin: auto;
  }
  main {
    margin: auto;
  }
}
@media (max-width: 500px) {
  .dailycard {
    width: 100%;
  }
}
